<footer>
    <div class="row">
        <div class="col-lg-12 footer clearfix">
            <span class="fl">&copy; 2013 - 2016 HotswapAgent.org
                (<a href="https://github.com/HotswapProjects/HotswapAgent/commit/c8cda6473ac524563b9fc1a572a6733206ff1898"
                    target="_blank">Initial commit</a> from
                <a href="https://github.com/edudant" target="_blank">edudant</a> committed on 20 Nov 2013)</span>
            <span class="fr">{% if page.last_updated %}<span>Page last updated:</span> {{page.last_updated}}<br/>{% endif %} Site last
            generated: {{ site.time | date: "%b %-d, %Y" }} </span>
        </div>
    </div>
</footer>
